@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
} */

.ant-table-row:hover{
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-menu-light .ant-menu-item-selected{
  background-color: rgba(255, 255, 255, 0.0) !important;
}

.ant-select-arrow{
  color: #1677ff !important;
}

/* ::-webkit-scrollbar{
  background-color: #ddd;
  width: var(--sb-size)
} */

/* body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #d8d8d8;
  --sb-size: 10px;
  margin: 0px !important;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
} */

.react-grid-item.react-grid-placeholder {
  display: none !important;
}